<h1 class="mt-4">Todas as licitaçoes</h1><br>
<!-- LEILOES -->
<div class="content">
    <!-- content here -->
    <div class="product-grid product-grid--flexbox">
            <div class="product-grid__wrapper">
                <!-- Product list start here -->
    
                <%for (var leilao in leiloes){%>
                <!-- Single product -->
                <div class=" product-grid__product-wrapper">
                    <div class="product-grid__product">
                        <div class="product-grid__img-wrapper">
                            <img style="width:20%" src="<%= leilao.imagem %><%= leiloes[leilao].imagem %>" alt="loading"
                                class="product-grid__img" />
                        </div>
                        <span class="product-grid__title"><%=leilao.marca%><%=leiloes[leilao].marca%> <%=leilao.modelo%><%=leiloes[leilao].modelo%></span>
                        <span class="product-grid__description">Preço Inicial:</span>
                        <span class="product-grid__price"><%=leilao.preçoInicial%><%=leiloes[leilao].preçoInicial%>€</span>
                        <br>
                        <span class="product-grid__description">Ultima Licitação:</span>
                        <span class="product-grid__price"><%=leilao.ultimaLct%><%=leiloes[leilao].ultimaLct%>€</span>
                        <div class="product-grid__extend-wrapper">
                            <div class="product-grid__extend">
                                <p class="product-grid__description">Licitacoes: <%=leilao.licitacoes%><%=leiloes[leilao].licitacoes%></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Single product -->
                <%}%>
        </div>
    </div>
</div>