
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Leilao novo
      </h1>
      <% include ./partials/messages %>
      <form action="/leiloes/register" method="POST">
        <div class="form-group">
          <label for="marca">Marca</label>
          <input type="marca" id="marca" name="marca" class="form-control" placeholder="Introduza a marca"
            value="<%= typeof marca != 'undefined' ? marca : '' %>" />
        </div>
        <form action="/leiloes/register" method="POST">
          <div class="form-group">
            <label for="modelo">Modelo</label>
            <input type="modelo" id="modelo" name="modelo" class="form-control" placeholder="Introduza o modelo"
              value="<%= typeof modelo != 'undefined' ? modelo : '' %>" />
          </div>
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="descricao" id="descricao" name="descricao" class="form-control"
              placeholder="Descrição do telemovel" value="<%= typeof descricao != 'undefined' ? descricao : '' %>" />
          </div>
          <div class="form-group">
            <label for="preçoInicial">Preço</label>
            <input readonly type="preçoInicial" id="preçoInicial" name="preçoInicial" class="form-control"
              placeholder="Será dado um preço inicial por um dos funcionarios." value=0
              value="<%= typeof preçoInicial != 'undefined' ? preçoInicial : '' %>" />
          </div>
          <div class="form-group">
            <label for="user">User</label>
            <input readonly type="user" id="user" name="user" class="form-control" placeholder="Será associado o user logado ao leilao."
            value='' value="<%= typeof user != 'undefined' ? user : '' %>" />
          </div>
          <div class="form-group">
            <label for="dataFim">Data do fim do leilao</label>
            <input type="date" id="dataFim" name="dataFim" class="form-control" placeholder="Data do fim do leilao."
              value="<%= typeof dataFim != 'undefined' ? dataFim : '' %>" />
          </div>
          <div class="form-group">
            <label for="dataFim">Imagem do telemóvel</label>
            <input type="imagem" id="imagem" name="imagem" class="form-control" placeholder="Introduza o link da imagem."
              value="<%= typeof imagem != 'undefined' ? imagem : '' %>" />
          </div>
          <div class="form-group">
            <label for="estado">Estado:</label>
            <input readonly type="estado" id="estado" name="estado" class="form-control" value="enviado"
              value="<%= typeof estado != 'undefined' ? estado : '' %>" />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Registar
          </button>
        </form>
        <p class="lead mt-2"><a href="/dashboardUser">Voltar</a></p>
    </div>
  </div>
</div>
