

<h1> Seja bem vindo à nossa loja</h1>

<div class="card-body ">
  <span class="text-left">Efetue login ou faça o seu registo!</span>
  <a href="/users/register" class=" ml-5 text-right btn btn-primary">Registo</a>
  <a href="/users/login" class=" ml-5 text-right btn btn-secondary ">Login</a>
</div>
<p class="lead mb-3">Todos os leilões</p>
<!-- LEILOES -->
<div class="content">
  <!-- content here -->
  <div class="produrid product-grid--flexbox">
      <div class="product-grid__wrapper">
          <!-- Product list start here -->

          <%for (var leilao in leiloes){%>
          <!-- Single product -->
          <div class=" product-grid__product-wrapper">
              <div class="product-grid__product">
                  <div class="product-grid__img-wrapper">
                      <img style="width:20%" src="<%= leilao.imagem %><%= leiloes[leilao].imagem %>" alt="loading"
                          class="product-grid__img" />
                  </div>
                  <span class="product-grid__title"><%=leilao.marca%><%=leiloes[leilao].marca%> <%=leilao.modelo%><%=leiloes[leilao].modelo%></span>
                  <span class="product-grid__description">Preço inicial:</span>
                  <span class="product-grid__price"><%=leilao.preçoInicial%><%=leiloes[leilao].preçoInicial%>€</span>
                  <br>
                  <span class="product-grid__description">Ultima Licitação:</span>
                  <span class="product-grid__price"><%=leilao.ultimaLct%><%=leiloes[leilao].ultimaLct%>€</span>
                  <span class="product-grid__title">Vendedor: <%=leilao.user%><%=leiloes[leilao].user%></span>
                  <div class="product-grid__extend-wrapper">
                      <div class="product-grid__extend">
                          <p class="product-grid__description">Descrição: <%=leilao.descricao%><%=leiloes[leilao].descricao%></p>
                          <p class="product-grid__price">Faça login para licitar e para mais informações!</p>
                      </div>                    
                  </div>
              </div>
          </div>
          <!-- end Single product -->
          <%}%>
      </div>
  </div>
</div>
