<link rel="stylesheet" href="../public/styles/leiloes_style.css">
<h1 class="mt-4">Dashboard - Utilizador</h1>
<p class="lead mb-3">Bem-vindo <%= username %></p>
<a href="/leiloes/register" class=" btn btn-primary">Criar leilao</a>
<a href="/leiloes/leiloesPendentes" class=" btn btn-primary">Ver leiloes pendentes</a>
<a href="/leiloes/leiloesSubmetidos" class=" btn btn-primary">Ver os meus leiloes</a>
<a href="/leiloes/licitacoesFeitas" class=" btn btn-primary">Licitaçoes</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<h3 class="lead mb-3">Leiloes ativos</h3>
<div class="content">
    <!-- content here -->
    <div class="product-grid product-grid--flexbox">
        <div class="product-grid__wrapper">
            <!-- Product list start here -->

            <%for (var leilao in leiloes){%>
            <!-- Single product -->
            <div class=" product-grid__product-wrapper">
                <div class="product-grid__product">
                    <div class="product-grid__img-wrapper">
                        <img style="width:20%" src="<%= leilao.imagem %><%= leiloes[leilao].imagem %>" alt="Img" class="product-grid__img" />
                    </div>
                    <span class="product-grid__title"><%=leilao.marca%><%=leiloes[leilao].marca%></span>
                    <span class="product-grid__title"><%=leilao.modelo%><%=leiloes[leilao].modelo%></span>
                    <span class="product-grid__price"><%=leilao.preçoInicial%><%=leiloes[leilao].preçoInicial%>€</span>
                    <div class="product-grid__extend-wrapper">
                        <div class="product-grid__extend">
                            <p class="product-grid__description"><%=leilao.descricao%><%=leiloes[leilao].descricao%></p>
                            <button type="submit" class="btn btn-primary product-grid__btn product-grid__view"><i class="fa fa-eye"></i> Ver mais sobre o leilão</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Single product -->    
            <%}%>
              <!--<li><%=leilao%>:<%=leiloes[leilao]%></li> -->

    </ul>
</div>